/* tags */
html {
    height: 100%;
}
body {
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    height: 100%;
    margin: 0;
    padding: 50px 0 0;
    position: relative;
}

/* headings */
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
    font-weight: bold;
}
h2 {
	font-size: 30px;
}
h2.subtitle {
    margin-bottom: 20px;
}

/* components */
.section {
    padding-top: 50px;
}
.table {
    font-size: 14px;
}

/* header */
.navbar {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 0;
}
.header {
    color: #fff;
    overflow: hidden;
	padding: 0px 0 62px;
	text-align: center;
	background-image: url("images/tchelinux.png");
	background-color: #000;
	background-repeat: no-repeat;
    background-size: auto 100%;
	background-position: right bottom;
    box-shadow: 10px 10px 250px 100px #000 inset;
    padding-top: 62px;
    text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.3);
}
.logo-name {
    font-size: 5.5em;
	letter-spacing: -0.04em;
    margin-top: 0;
}

/* programação */
.schedule-tbl {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.15);
}
.schedule-tbl table {
    border-collapse: collapse;
    font-size: 1em;
}
.schedule-tbl table tr td,
.schedule-tbl table tr th {
    border:1px solid #ddd;
}
.schedule-tbl a:hover {
  text-decoration:none;
}
.info {
    font-weight: bold;
}
.info th,
.info td {
    background-color: #ecf6fb !important;
}
.schedule-time {
    color: #777;
    text-align: center;
}
.schedule-speech-title {
    font-weight: bold;
}
.schedule-speaker {
    color: #555;
}

/* palestrantes */
.speech-container {
    font-size: 14px;
    padding-top: 30px;
}
.speech-title {
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.speech-time {
    font-size: 16px;
    padding: 5px;
    letter-spacing: -0.03em;
    color: #fff;
    background: #2b2b2b;
    border-radius: 4px;
    margin-bottom: 5px;
    float:left;
}
.speech-info {
    margin-left: 70px;
}
.speech-description {
    font-weight: normal;
    text-align: justify;
    display: block;
}
.speaker-container {
    margin-top: -20px;
    padding-top: 20px;
}
.speaker-name {
    display: block;
    font-size: 17px;
    margin-bottom: 5px;
}
.speaker-bio {
    display: block;
    font-weight: normal;
    text-align: justify;
}

/* local */
.local__address {
    margin-bottom: 30px;
}
.local h3 {
    margin-top: 40px;
    margin-bottom: 20px;
}
#search-route {
    width: 100%;
    margin: auto;
    padding: 0 5px;
    margin: 10px 0px 20px 0px;
}
#directions-panel {
    box-shadow: 0px 5px 10px 0px #838888;
    width: 100%;
    margin: auto;
    margin-top: -10px;
}
#directions-panel .adp-directions {
    width: 100%;
}
#directions-panel .adp-directions td {
    margin: 50px;
}
.map-canvas {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.15);
    height: 350px;
    width: 100%;
}

/* apoio*/
.apoio-list {
    margin-bottom: 45px;
    padding-left: 0;
}
.apoio-item {
    align-items: center;
    display: flex;
    height: 101px;
    justify-content: center;
}

/* footer */
.footer {
    background-color: #f8f8f8;
    border-top: 2px solid #CCC;
    font-size: 14px;
    padding: 30px 30px 10px;
}
.footer-menu {
    font-weight: bold;
    margin-bottom: 30px;
}
.github img {
    margin-bottom: 5px;
}

/* helpers */
.center{
  text-align:center;
}
.riscado {
    text-decoration: line-through;
}

/* mobile only */
@media (max-width: 767px) {
    .navbar-nav {
        margin-bottom: 0;
    }
    .navbar-btn {
        display: inline-block;
        margin-bottom: 15px;
    }
    .logo-name {
        font-size: 2em;
        letter-spacing: -0.04em;
    }
    .header__date {
        font-size: 1.5em;
    }
}

/* tablet up */
@media (min-width: 768px) {
    .navbar-btn {
        float: right;
    }
}
